{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">My Addresses</h1>

        <div class="row">
            <!-- Menu de gauche -->
            <div class="col-lg-3">
                {% include '/account/_menu.html.twig' %}
            </div>

            <!-- Contenu principal -->
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h5 class="mb-0">List of addresses</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Card address -->
                            {% for address in app.user.addresses %}
                                <div class="col-sm-6 col-md-4 mb-3">
                                    <div class="card text-center address-card h-100 position-relative" data-controller="address-card">
                                        <div class="card-body" data-action="click->address-card#toggleOverlay">
                                            <div class="mb-3 mx-auto so-top-icon">
                                                <!-- Icône SVG -->
                                                <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 0 24 24"
                                                     width="60" fill="#000000">
                                                    <path d="M0 0h24v24H0V0z" fill="none"/>
                                                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
                                                </svg>
                                            </div>
                                            <h3 class="card-title">{{ address.title }}</h3>
                                            <small class="card-text">
                                                {{ address.firstname }} {{ address.lastname }}<br>
                                                {{ address.address }}<br>
                                                {{ address.postal }}, {{ address.city }} - {{ address.country }}<br>
                                                {{ address.phone }}
                                            </small>
                                        </div>
                                        <!-- Overlay -->
                                        <div class="overlay" data-address-card-target="overlay">
                                            <div class="overlay-content">
                                                <a href="{{ path('app_account_address_form', { id : address.id }) }}" class="btn btn-light me-2">
                                                    <i class="bi bi-pencil-fill"></i> Edit
                                                </a>
                                                <a href="{{ path('app_account_address_delete', { id : address.id }) }}" class="btn btn-danger">
                                                    <i class="bi bi-trash-fill"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Card add new address -->
                            <div class="col-sm-6 col-md-4 mb-3">
                                <a href="{{ path('app_account_address_form') }}" class="text-decoration-none">
                                    <div class="card text-center add-card h-100">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                                <i class="bi bi-plus-circle-fill text-success" style="font-size: 3rem;"></i>
                                                <p class="card-text mt-3">Add a new address</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
