{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4">My Personal Information</h1>

        <div class="row">
            <!-- Menu de gauche -->
            <div class="col-md-3">
                {% include '/account/_menu.html.twig' %}
            </div>

            <!-- Contenu principal -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h5 class="mb-0">Change your password</h5>
                    </div>
                    <div class="card-body">
                        {{ form_start(changePasswordForm) }}

                        <!-- Champ pour le mot de passe actuel -->
                        <div class="mb-3 w-50">
                            {{ form_label(changePasswordForm.actualPassword, 'Actual password') }}
                            {{ form_widget(changePasswordForm.actualPassword, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(changePasswordForm.actualPassword) }}
                        </div>

                        <!-- Champ pour le nouveau mot de passe -->
                        <div class="mb-3 w-50">
                            {{ form_label(changePasswordForm.plainPassword.first, 'New password') }}
                            {{ form_widget(changePasswordForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(changePasswordForm.plainPassword.first) }}
                        </div>

                        <!-- Champ pour la confirmation du nouveau mot de passe -->
                        <div class="mb-3 w-50">
                            {{ form_label(changePasswordForm.plainPassword.second, 'Confirm new password') }}
                            {{ form_widget(changePasswordForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(changePasswordForm.plainPassword.second) }}
                        </div>

                        <!-- Bouton de soumission centré -->
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>
                        </div>

                        {{ form_end(changePasswordForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
