{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/account.css') }}">
{% endblock %}

{% block body %}
<div class="shadow bg-light">
    <div class="container">
        <!-- Navigation en haut -->
        <div class="dashboard-nav dashboard-container p-2 rounded">
            {% include '/account/_menu.html.twig' %}
        </div>
{#        <div class="row g-4">#}
                {% set current_route = app.request.attributes.get('_route') %}
                {% if current_route == 'app_account' %}
                    {{ include('account/includes/_dashboard.html.twig') }}
                {% elseif current_route == 'app_account_order' %}
                    {{ include('account/order/includes/_details_order.html.twig') }}
                {% elseif current_route == 'app_account_addresses' %}
                    {{ include('account/address/includes/_index.html.twig') }}
                {% elseif current_route == 'app_account_wishlist' %}
                    {{ include('account/wishlist/_index.html.twig') }}
                {% endif %}
{#        </div>#}
    </div>
</div>
{% endblock %}
