{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/account.css') }}">
{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Account</h1>

        <div class="row">
            <!-- Left menu -->
            <div class="col-lg-3">
                {% include '/account/_menu.html.twig' %}
            </div>

            <!-- Right content -->
            <div class="col-lg-9">
                {% set current_route = app.request.attributes.get('_route') %}

                {% if current_route == 'app_account' %}
                    {{ include('account/includes/_dashboard.html.twig') }}
                {% elseif current_route == 'app_account_order' %}
                    {{ include('account/order/includes/_details_order.html.twig') }}
                {% elseif current_route == 'app_account_addresses' %}
                    {{ include('account/address/includes/_index.html.twig') }}
                {% elseif current_route == 'app_account_wishlist' %}
                    {{ include('account/wishlist/_index.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
