{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/header.css') }}">
{% endblock %}

{% block body %}
    <div class="bg-light shadow">
        <div class="row g-4 mt-3 mx-3">
            <!-- Carousel Section (Côté gauche) -->
            <div class="col-lg-8">
                <div id="myCarousel" class="carousel slide carousel-container" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% if headers|length > 1 %}
                            {% for key,header in headers %}
                                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}"
                                        {% if key == 0 %}class="active" aria-current="true"{% endif %}
                                        aria-label="Slide {{ key + 1 }}"></button>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="carousel-inner rounded-4 overflow-hidden">
                        {% for key,header in headers %}
                            <div class="carousel-item {% if key == 0 %}active{% endif %}">
                                <div class="carousel-image-container">
                                    <img src="/uploads/header/{{ header.picture }}"
                                         class="w-100 object-fit-cover"
                                         alt="{{ header.title }}">
                                </div>
                                <div class="carousel-caption text-start p-4">
                                    <h1>{{ header.title }}</h1>
                                    <p class="opacity-75">{{ header.content }}</p>
                                    <p><a class="btn btn-lg btn-tertiary rounded-pill"
                                          href="{{ header.buttonLink }}">{{ header.buttonTitle }}</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if headers|length > 1 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>
            </div>

            <!-- Recommended Products Section (Côté droit) -->
            <div class="col-lg-4">
                <h4 class="mb-4">RECOMMENDED FOR YOU</h4>
                <div class="d-flex flex-column gap-3">
{#                    {% for product in products %}#}
                        <div class="card border-0 shadow-sm">
                            <div class="row g-0">
                                <div class="col-4">
                                    <img src=""
                                         class="img-fluid rounded-start h-100 object-fit-cover"
                                         alt="">
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <h5 class="card-title mb-2 fs-6"></h5>
                                        <div class="d-flex justify-content-between align-items-center">
{#                                            {% if product.discountPrice %}#}
                                                <div>
                                                    <span class="text-decoration-line-through text-muted">€</span>
                                                    <span class="text-primary fw-bold">€</span>
                                                </div>
                                                <span class="badge bg-success">-%</span>
{#                                            {% else %}#}
                                                <span class="text-primary fw-bold">€</span>
{#                                            {% endif %}#}
                                        </div>
                                        <div class="mt-2">
                                            <i class="bi bi-steam"></i>
                                            <i class="bi bi-globe"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{#                    {% endfor %}#}
                </div>
            </div>
        </div>


        <!-- Container for marketing content -->
        <div class="container border-top-0 bg-light">
            <div class="container-fluid py-5 border-top-0">
                <!-- START THE FEATURETTES -->
                <h2 class="text-center mb-5 display-4 fs-1 fw-bold fs-md-3">Our Featured Products</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for product in productsInHomepage %}
                        <div class="col">
                            <div class="card h-100 border-0 shadow-sm product-card bg-light">
                                <div class="d-flex justify-content-center align-items-center position-relative"
                                     style="height: 200px;">
                                    <img src="/uploads/products/{{ product.picture }}"
                                         class="card-img-top w-75 w-md-100 img-fluid"
                                         alt="{{ product.name }}">
                                    <div class="product-overlay d-flex align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50">
                                        <a href="{{ path('app_product', { slug : product.slug }) }}"
                                           class="btn btn-outline-light btn-sm">View Product</a>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <h3 class="card-title h5">{{ product.name }}</h3>
                                    <p class="card-text small text-muted">{{ product.description|striptags|slice(0, 100) }}
                                        ...</p>
                                    <p class="card-text fw-bold">{{ product.price|price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- START THE COMPANY VALUES -->
                <div class="container-fluid company-values-sections" data-controller="reveal">
                    <h2 class="text-center mb-5 display-4 fs-1 fw-bold fs-md-3">Our Company Values</h2>

                    {% for value in companyValues %}
                        <div class="company-value-section" data-reveal-target="section"
                             style="background-image: url('{{ asset('uploads/company_values/' ~ value.picture) }}');">
                            <div class="company-value-content">
                                <h3 class="value-title">{{ value.title }}</h3>
                                <p class="value-description">{{ value.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div><!-- /.container -->
{% endblock %}
